    <footer>
        <div class="footer-content">
            <h3>The Hideout Café</h3>
            <p>BMU's favourite hangout for coffee and conversations. <br> This café runs on love, laughter & lots of
                strong coffee. </p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; The Hideout Café </p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/This_Is_Us">About</a></li>
                    <li><a href="/Contact_Us">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>