<header>

        <a href="#" class="logo_img"><img
                src="https://cdn.animaapp.com/projects/63143176205380b1c8d6f591/releases/632362b35c5188913ac48ff8/img/logo-1@2x.png"
                alt="" width="100vw"></a>

        <nav class="navbar">

            <!--  -->
            <div class="main_list" id="mainListDiv">
                <!--  -->
                <a href="/Menu">Menu</a>
                <a href="/Shop2">Shop</a>
                <a href="/This_Is_Us">This Is Us</a>
                <a href="/Contact_Us">Contact Us</a>
                <a href="/Login">Login</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!--  -->
            <div class="media_button">
                <button class="main_media_button" id="mediaButton">
                    <!--  -->
        </nav>
    </header>