<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hideout Café</title>
    <link rel="stylesheet" href="/css/Contact_Us.css">
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="tab">
            <p style="color: #52311E;">CONTACT US</p>
        </div>
        <div class="tabs1">
            <img src="https://cdn.animaapp.com/projects/63143176205380b1c8d6f591/releases/631afffca6fbd0d14fab66a7/img/donuts@1x.png"
                alt="" width="400" height="200" class="donuts">
        </div>
    </header>

    <div class="get1">
        <p class="get">Get in touch with us</p>
    </div>

    <div class="container">

        <div class="phone">
            <img src="https://cdn.animaapp.com/projects/63143176205380b1c8d6f591/releases/631afffca6fbd0d14fab66a7/img/phone@2x.png"
                class="icons">
            <div class="phonetext">
                <h4>PHONE</h4>
                <p>Phone: 123-456-7890</p>
                <p>Phone: 012-345-6789</p>
            </div>

        </div>


        <hr style="rotate: 90;">
        <div class="address">
            <img src="https://cdn.animaapp.com/projects/63143176205380b1c8d6f591/releases/631afffca6fbd0d14fab66a7/img/location@2x.png"
                class="icons" style="cursor:pointer"
                onclick="parent.location='https://www.google.com/maps/place/BML+Munjal+University+(BMU)/@28.2476758,76.8114382,17z/data=!4m5!3m4!1s0x390d478e1d59b7fb:0xb1787ccb5563c223!8m2!3d28.2476758!4d76.8136269'" />
            <h4> ADDRESS </h4>

            <p>Baker's Street, BML Munjal University</p>
        </div>


        <hr style="rotate: 90;">

        <div class="email">
            <!--  -->
            <img src="https://cdn.animaapp.com/projects/63143176205380b1c8d6f591/releases/631afffca6fbd0d14fab66a7/img/email@2x.png"
                class="icons" style="cursor:pointer" onclick="parent.location='mailto:the.hideout.cafe@gmail.com'" />
            <!--  -->
            <div class="emailtext">
                <h4> E-MAIL </h4>
                <p>the.hideout.cafe@gmail.com</p>
                <p>support.hideout.cafe.@gmail.com</p>

            </div>
            <script src="/js/Contact Us.js" charset="utf-8"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            {{>Footer}}
</body>

</html>