<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="/css/Reservation.css">
</head>

<body class="container">
    <div class="left">
        <h1>TABLE RESERVATION</h1><br>
        <div class="details">
            <input type="text" placeholder="Name*" id="name">
            <input type="tel" placeholder="Phone Number*">
            <input type="email" placeholder="Email*">
            <input type="number" placeholder="Number of Diners*">
            <input type="date" id="date">
            <input type="time" id="time" >
            <textarea id="freeform" placeholder="Please share additional information(Optional)"></textarea>
            <button type="button" class="reservation">Request Table Reservation</button>
        </div>
    </div>

    <div class="right">
        <img src="Image/50.jpg" alt="">
    </div>
</body>
</html>