<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hideout Café</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/Review.css">

</head>

<body>
    <!-- review section starts  -->
    <section class="review" id="review">
        <h3 class="sub-heading"> Customer's review </h3>
        <br>
        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <div class="user">
                        <img src="https://cdn.animaapp.com/projects/6318d4689f74a27982cb9d4e/releases/6327226451ec4cd5237f6ce7/img/image-15@2x.png"
                            alt="">
                        <div class="user-info">
                            <h3>Vivaan Sahai</h3>
                            <span>posted on Foursquare</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>This place is very different and well organized according to other places. The food is amazing, music
                        of your choice. The owner is very sweet… Ever the best café. The cost is fair for everything and the
                        atmosphere is good.</p>
                </div>

                <div class="swiper-slide slide">
                    <div class="user">
                        <img src=""
                            alt="">
                        <div class="user-info">
                            <h3>Raghav Raj Sobti</h3>
                            <span>posted on TripAdvisor</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Unquestionably, the best café in the area! I'm so thankful that finally, I was able to find this spot
                        for some good coffee just in time. The atmosphere was very vibrant and relaxing. Truly amazing! 
                        Thank you so much, guys!</p>
                </div>

                <div class="swiper-slide slide">
                    <div class="user">
                        <img src="https://cdn.animaapp.com/projects/6318d4689f74a27982cb9d4e/releases/632724eaeea2a8977140220e/img/image-17@2x.png"
                            alt="">
                        <div class="user-info">
                            <h3>Unnati Gupta</h3>
                            <span>posted on Dineout</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>A unique coffee shop to study and read books. No loud noises which will help you a lot to concentrate on what you do. They do have a variety of food and drinks you can select from. I honestly love the great interior all over the place.</p>
                </div>

                <div class="swiper-slide slide">
                    <div class="user">
                        <img src="images/pic-3.png" alt="">
                        <div class="user-info">
                            <h3>Akshita Singh</h3>
                            <span>posted on Yelp</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>I would probably say that this coffee shop is a must for coffee lovers! The service was good, and the variety of coffee served in the ambiance was very satisfying. If you like your coffee shops, then this is a must-visit! We will be back again!</p>
                </div>

                <div class="swiper-slide slide">
                    <div class="user">
                        <img src="images/pic-4.png" alt="">
                        <div class="user-info">
                            <h3>Ayush Saini</h3>
                            <span>posted on OpenTable</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know
                        what they're doing and what they're talking about, and you can tell making the customers happy is
                        their main priority. Food is pretty good.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- review section ends -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/Review.js"></script>

</body>
</html>