<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hideout Café</title>
    <link rel="stylesheet" href="/css/Shop.css">

    <script>

    </script>
</head>

<body>
    <section id="popular-product">

        <body class="container">
            <div class="up-triangle"> </div>
            <div class="pic">
                <h1 id="h1">Don't Wait...</h1>
                <h2 id="h2"><i>Are you hungry??</i></h2>
                <h3 id="h3"><i>Order Now</i></h3>
                <input type="submit" class="submit" value="Pick your bite !!"
                    onClick="document.getElementById('box').scrollIntoView();">
                <img class="rotate"
                    src="https://cdn.animaapp.com/projects/6318d4689f74a27982cb9d4e/releases/6326e94cb0c0a54a54cfb03f/img/1837-diabetic-pecan-crusted-chicken-breast-julaug20df-clean-simp@1x.png"
                    width="30%" alt="">
            </div>

            <!-- steps section starts  -->

            <div class="step-container">

                <h1 class="heading">How it <span>works</span></h1>

                <section class="steps">
                    <div class="box">
                        <img src="Image/step-1.jpg" alt="">
                        <h3>Choose your favorite food</h3>
                    </div>
                    <div class="box">
                        <img src="Image/step-2.jpg" alt="">
                        <h3>Free and Fast delivery</h3>
                    </div>
                    <div class="box">
                        <img src="Image/step-3.jpg" alt="">
                        <h3>Easy payments methods</h3>
                    </div>
                    <div class="box">
                        <img src="Image/step-4.jpg" alt="">
                        <h3>and Finally, Enjoy your food</h3>
                    </div>

                </section>

            </div>

            <!-- steps section ends -->

            <div class="pick">
                <span class="pick">Pick Your Bite!!!</span>
            </div>

            <!--box-container------>
            <div class="product-container" id="box">
                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/32.png">
                    <strong>Chocolate Crunch</strong>
                    <span class="price">Rs 50</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/33.png">
                    <strong>Iced Coffee</strong>
                    <span class="price">Rs 30</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/34.png">
                    <strong>Ice-Cream Coffee</strong>
                    <span class="price">Rs 50</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/35.png">
                    <strong>Lemon Ice-Tea</strong>
                    <span class="price">Rs 25</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/36.png">
                    <strong>French Fries</strong>
                    <span class="price">Rs 45</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/41.png">
                    <strong>Espresso</strong>
                    <span class="price">Rs 35</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/62.png">
                    <strong>Choco-Pop Donut</strong>
                    <span class="price">Rs 45</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/71.png">
                    <strong>Brownie</strong>
                    <span class="price">Rs 50</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/63.png">
                    <strong>Farmhouse Burger</strong>
                    <span class="price">Rs 65</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/64.png">
                    <strong>Salted Caramel Donut</strong>
                    <span class="price">Rs 50</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/65.png">
                    <strong>Chocolate Frosted Donut</strong>
                    <span class="price">Rs 55</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/66.png">
                    <strong>Strawberry Sundae</strong>
                    <span class="price">Rs 70</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/68.png">
                    <strong>Crumble Cookie</strong>
                    <span class="price">Rs 30</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/69.png">
                    <strong>Caramalised Onion Pasta</strong>
                    <span class="price">Rs 100</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>

                <!--box---------->
                <div class="product-box">
                    <img alt="apple" src="Image/70.png">
                    <strong>Fruit Pancake</strong>
                    <span class="price">Rs 120</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                </div>
                <br>
                <br>
        </body>

</html>