<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hideout Café</title>
    <link rel="stylesheet" href="/css/Shop2.css">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
        @import url("https://fonts.googleapis.com/css?family=Metal+Mania");

        @font-face {
            font-family: "Booter - Zero Zero";
            src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
                url("Fonts/Booter - Zero Zero.woff2") format("woff2");
            font-weight: normal;
            font-style: normal;
        }

    </style>

</head>

<script src="/js/Shop.js">
</script>

<body>
    <section id="popular-product"></section>
            <div class="up-triangle"> </div>
            <div class="pic">
                <h1 id="h1">Don't Wait...</h1>
                <h2 id="h2"><i>Are you hungry??</i></h2>
                <h3 id="h3"><i>Order Now</i></h3>
                <input type="submit" class="submit" value="Pick your bite !!"
                    onClick="document.getElementById('container').scrollIntoView();">
                <img class="rotate"
                    src="https://cdn.animaapp.com/projects/6318d4689f74a27982cb9d4e/releases/6326e94cb0c0a54a54cfb03f/img/1837-diabetic-pecan-crusted-chicken-breast-julaug20df-clean-simp@1x.png"
                    width="30%" alt="">
            </div>

            <div class="pick">
                <span class="pick">Pick Your Bite!!!</span>
            </div>
            <div class="container content-section" id="container">
                <div class="shop-items">
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/32.png">
                        <span class="shop-item-title">Chocolate Crunch</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 50</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/33.png">
                        <span class="shop-item-title">Iced Coffee</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 30</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/34.png">
                        <span class="shop-item-title">Ice-Cream Coffee</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 50</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/35.png">
                        <span class="shop-item-title">Lemon Ice-Tea</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 25</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/36.png">
                        <span class="shop-item-title">French Fries</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 45</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/41.png">
                        <span class="shop-item-title">Espresso</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 35</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/62.png">
                        <span class="shop-item-title">Choco-Pop Donut</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 45</span><br>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/71.png">
                        <span class="shop-item-title">Brownie</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 50</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/63.png">
                        <span class="shop-item-title">Farmhouse Burger</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 65</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/64.png">
                        <span class="shop-item-title">Salted Caramel Donut</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 50</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/65.png">
                        <span class="shop-item-title">Chocolate Frosted Donut</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 55</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/66.png">
                        <span class="shop-item-title">Strawberry Sundae</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 70</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/68.png">
                        <span class="shop-item-title">Crumble Cookie</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 25</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/69.png">
                        <span class="shop-item-title">Caramalised Onion Pasta</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 100</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <img class="shop-item-image" src="Image/70.png">
                        <span class="shop-item-title">Fruit Pancake</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">Rs 120</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content-section">
                <h2 class="section-header">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </section>
        </body>

</html>