<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hideout Café</title>
    <link rel="stylesheet" href="/css/This_Is_Us.css">
</head>

<body>

    <div class="header">
        <h1>This Is Us</h1>
    </div>
    <div class="image01">
        <img src="Image/26.jfif" alt="This Is Us" width="700" height="720">
    </div>
    <div class="Content_head1">
        <h1>The Best Bite in <br> the neighbourhood</h1>
    </div>
    <div class="Content1">
        <p>When it comes to enjoying exceptional food, we all have our favorite recipes. Whether you like it Western or
            Asian, grilled or baked, topped with cheese or cooked in garlic, The Hideout Café can satisfy your every
            craving.</p>
    </div>
    <a href="/Menu"><button type="button" class="Button1">VIEW MENU</button></a>  

    <div class="container">
        <img src="Image/13.jpg" alt="Café" width="100%" class="bg">

        <div class="Content_head2">
            <h1 class="h1">From Our Hearts <br> to Your Plate</h1>
            <p class="Content2"> We're big believers in the power of a good meal and a friendly place to eat it. Stop by
                for fresh food served with a warm smile. <br><br></p>
            
            <a href="/Reservation"><button type="button" class="Button2">VISIT US</button></a> 
            <br>
        </div>
    </div>

    <div class="Heading">
        <h1>Our Gallery</h1>
    </div>

    <div class="Content">
        <p>The best memories are made around the table...</p>
    </div>

    <div class="Image1">
        <img src="Image/15.jpg" alt="Gallery" width="377px" height="566px">
    </div>

    <div class="Image2">
        <img src="Image/8.jpg" alt="Gallery" width="500px" height="566px">
    </div>

    <div class="Image3">
        <img src="Image/25.jpg" alt="Gallery" width="397px" height="265px">
    </div>

    <div class="Image4">
        <img src="Image/18.jpg" alt="Gallery" width="397px" height="265px">
    </div>

    <a href="/Gallery"><button type="button" class="Button3">VIEW MORE</button></a>  

    <br><br><br>
</body>
</html>